.cart {
    margin: 50px 0px!important;
    height: 400px;
    padding: 20px;
}

.cart-body {
    display: flex;
    flex-direction: column;
}

.cart-body img {
    width: 15%;
    margin: 0px auto;
}

.cart-body p {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px auto;
}

.cart-body button {
    width: 30%;
    margin: 0px auto;
}

.product_img {
    width: 120%;
}

.shopping_btn {
    background-color: #C92127;
    color: white;
    border-radius: 10px;
}

.remove_item {
    font-size: 1.5rem;
    color: rgb(101, 104, 107);
    position: absolute;
    top: 37px;
    right: 40px;
}

.invoice {
    color: #C92127;
    font-size: 1.3rem;
    font-weight: 700;
}

.item_price {
    font-weight: 500;
    color: #C92127;
}

.checkout_btn {
    background-color: #C92127;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.backtobuy {
    color: black;
}

.backtobuy:hover {
    color: rgb(1, 1, 185);
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.mobile .cart-noti {
    font-size: 1.1rem;
    padding-top: 30px;
    margin-bottom: 30px;
}

.mobile .cart-noti a {
    color: black;
}

.mobile img {
    width: 110%;
}

.mobile .product_info {
    margin-bottom: 10px;
}

.mobile .product_info p {
    margin-bottom: 10px;
}

.mobile .product_info .item_price {
    margin-bottom: 10px;
    font-weight: 600;
}

.mobile .product_info .qty {
    margin-top: 0px;
    width: 30%;
}

@media screen and (max-width: 414px) {
    .cart {
        margin: 50px 0px!important;
        height: 300px;
        padding: 20px;
    }

    .text_end {
        text-align: end;
    }

    .cart-body img {
        width: 35%;
        margin: 0px auto;
    }

    .cart-body p {
        font-size: 0.9rem;
        font-weight: 500;
        justify-content: center;
    }

    .cart-body button {
        width: 70%;
        margin: 0px auto;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .footer {
        display: none;
    }

    #header {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .cart {
        margin: 50px 0px!important;
        height: 400px;
        padding: 20px;
    }
    
    h4 {
        font-size: 0.9rem;
    }

    .hide {
        display: none;
    }

    .product_img {
        width: 180%;
    }

    .invoice {
        font-size: 1.2rem;
    }

    .cart-body {
        padding: 10px;
    }

    .cart-body img {
        width: 30%;
        margin: 0px auto;
    }

    .col-md-2 {
        font-size: 0.9rem;
    }

    .item_info {
        font-size: 0.8rem;
    }

    .item_info h4 {
        font-size: 0.9rem;
        font-weight: 700;
    }

    .item_price {
        font-size: 1rem;
    }

    .cart-body p {
        font-size: 1rem;
        font-weight: 500;
        justify-content: center;
    }

    .cart-body button {
        width: 50%;
        margin: 0px auto;
    }

    .remove_item {
        right: 20px;
    }

    .mobile .product_info .product_name {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .mobile .product_info .item_price {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .mobile .product_info .qty {
        width: 20%;
        border-radius: 5px;
        text-align: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .cart-body img {
        width: 17%;
        margin: 0px auto;
    }

    .cart-body button {
        width: 25%;
        margin: 0px auto;
    }

    .hide {
        display: block;
    }

    .product_img {
        width: 130%;
    }

    .footer {
        display: block;
    }
}