.delivery_info {
    padding: 20px;
}

h5 {
    font-weight: 600;
}

.summary {
    padding-top: 10px;
}

.summary-title {
    margin-left: 20px;
    font-weight: 600;
}

.red-color {
    color: #C92127;
}

.checkout_btn {
    background-color: #C92127;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.checkout_btn:hover {
    background-color: #8a1014;
}

.back_link {
    font-size: 1.2rem;
    color: black;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 769px) {
    .item_info p {
        display: none;
    }

    .item_info h4 {
        font-size: 1.2rem;
        margin-top: 14px;
    }

    .product_list_title strong {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 415px) {
    .mobile .mobile_product_list strong {
        display: block;
    }

    .mobile .mobile_product_list img {
        width: 120%;
    }

    .direction .back_link {
        font-size: 1.1rem;
    }
    .mobile_summary .text_align_end {
        text-align: end;
        padding-right: 30px;
    }

    .mobile_summary .text_align_end h4 {
        font-weight: 600;
    }

    .mobile_summary .summary-title {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .footer {
        display: none;
    }
}